<div class="menu">
  <a href="{{ site.github.url }}/menu/{{ item.url }}">
    <div class="menu__wrapper">
      <div class="menu__text">Archive</div>
    </div>
  </a>
  <nav class="social-icons">
    <div class="social-icons_size-youtube-play">
      <a href="https://www.youtube.com/channel/UCSRXBJAXUzMvR2zeG5jF6MQ" target="_blank"><i class="fa fa-yo" aria-hidden="true"></i></a>
    </div>
    <div class="social-icons_size-mail">
      <a href="mailto:aloha@7bits.it" target="_blank">
      </a>
    </div>
    <div class="social-icons_size-tw">
      <a href="https://twitter.com/_7bits?lang=ru" target="_blank"><i class="fa fa-tw" aria-hidden="true"></i>
      </a>
    </div>
    <div class="social-icons_size-git">
      <a href="https://github.com/7bits" target="_blank"><i class="fa fa-youtube-git" aria-hidden="true"></i>
      </a>
    </div>
    <div class="social-icons_size-in">
      <a href="https://www.linkedin.com/company/2559736/" target="_blank"><i class="fa fa-youtube-in" aria-hidden="true"></i>
      </a>
    </div>
    <div class="social-icons_size-vk">
      <a href="https://vk.com/7bits" target="_blank"><i class="fa fa-youtube-vk" aria-hidden="true"></i>
      </a>
    </div>
  </nav>
</div>
