/*
  Base
*/

body {
  font-family: 'latolight', sans-serif;
  font-size: 18px;
  color: #515151;
  line-height: 1.75rem;
}

@media (max-width: 30em) {
  body {
    font-size: 14px;
    line-height: 1.5rem;
  }
  body h1 {
    font-size: 1.5rem;
  }
}

h1{
  font-size: 2rem;
}

h1 a {
  text-decoration: none;
}

h1, h2, h3, h4, h5, h6 {
  color: #333;
}

a {
  text-decoration: underline;
  color: #333;
}

a:hover {
  color: black;
  border-bottom: none;
}

img {
  max-width: 100%;
  height: auto;
  border-radius: 5px;
}

blockquote {
  border-left: 0.25rem solid #ccc;
  margin: 1.5em 10px;
  color: #999;
  padding: 0.5em 10px;
  quotes: "\201C""\201D""\2018""\2019";
}
blockquote:before {
  color: #ccc;
  content: open-quote;
  font-size: 4em;
  line-height: 0.1em;
  margin-right: 0.25em;
  vertical-align: -0.4em;
}
blockquote p {
  display: inline;
}

/*
  Site container
*/
.header__container {
  width: 100%;
  background: -webkit-linear-gradient(0deg, #6f77b9 0%, #9676b5 100%);
  background: -moz-linear-gradient(0deg, #6f77b9 0%, #9676b5 100%);
  background: -o-linear-gradient(0deg, #6f77b9 0%, #9676b5 100%);
  background: -ms-linear-gradient(0deg, #6f77b9 0%, #9676b5 100%);
  background: linear-gradient(90deg, #6f77b9 0%, #9676b5 100%);
}

.container {
  margin-left: auto;
  margin-right: auto;
  width: 100%;
  max-width: 900px;
}

@media (max-width: 1366px) {
  .container {
    width: 60vw;
  }
}

/*48em*/

@media (max-width: 768px) {
  .container {
    width: 90vw;
  }
}

/*
  Masthead
*/

.masthead {
  padding-top: 0.35rem;
  padding-bottom: 0.35rem;
  margin-bottom: 4rem;
}
.masthead__logo {
  cursor: pointer;
  display: inline-block;
  width: 145px;
  height: 66px;
  background-image: url("../../assets/images/logo7bits.png");
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center
}
.masthead__logo:hover {
  opacity: 0.7;
}
.masthead a:hover {
  color:black;
}

.masthead-title a {
  font-size: 2rem;
  text-decoration: none;
  color: #505050;
  font-family: "lato-bold"
}

.masthead-subtitle {
  margin-left: 20px;
  font-family: Roboto, sans-serif;
  font-size: 1.438rem;
  color:  rgba(255, 255, 255, 0.7);
  font-weight: 300;
  position: relative;
  bottom: calc(33px - 1.438rem/2);
}

/*48em*/

@media (max-width: 530px) {
  .masthead-subtitle {
    padding-top: 24px;
    position: relative;
    font-size: 1rem;
  }
}
/*
  Post
*/

.post-container {
  margin-bottom: 4rem;
}

.posts {
  margin-bottom: 5rem;
  padding: 0px;
  list-style: none;
}

.post-date {
  display: block;
  margin-top:3px;
  margin-bottom: 1rem;
  color: #9a9a9a;
  font-size:0.8rem;
}

@media (max-width: 30rem) {
  .posts h1 {
    font-size: 1.5rem;
  }
}

.related {
  padding-bottom: 2rem;
}

.related-posts {
  padding-left: 0px;
  list-style: none;
}

.related-posts a {
  text-decoration: none;
}

/*
  Pagination
*/

.pagination {
  overflow: hidden;
  text-align: center;
}

.pagination a {
  text-decoration: none;
}

.pagination-button {
  color: #999;
  border: 1px solid #e0e0e0;
  padding: 15px 45px;
  display: inline-block;
  font-size: 16px;
  font-weight: bold;
}

.pagination-active {
  color: black;
}

.pagination-active:hover {
  background-color: #e0e0e0;
}

/*
  Footer
*/

.footer {
  color: #999;
  text-align: center;
  margin: 2rem;
}

.footer a {
  color: #999;
  padding: 10px;
  text-decoration: none;
}

.footer a:hover {
  color: #333;
}

/*
  Menu
*/

.menu__text:hover {
  opacity: 0.7;
}

.menu {
  display: inline-block;
  float:  right;
  position: relative;
  top: calc(30px - 1.438rem/2);
  vertical-align: baseline;
}

@media (max-width: 1366px) {
  .menu {
    display: block;
    position: static;
    float: left;
  }
  .menu__text {
    margin-left: -18px;
  }
  .header__container {
    height: 145px;
  }
}
@media (max-width: 485px) {
  .menu {
    display: none;
  }
  .header__container {
    height: inherit;
  }
}
@media (max-width: 440px) {
  .masthead-subtitle {
    display: block;
  }
  .header__container {
    height: 130px;
  }
}

.menu-content {
  float: right;
}

.menu__wrapper {
  display: inline-block;
  margin-right: 20px;
  margin-left: 20px;
}
.menu__text {
  cursor: pointer;
  font-family: Roboto, sans-serif;
  color:  rgba(255, 255, 255, 0.7);
  font-size: 1.25rem;
  font-weight: 300;
}

.menu-content a {
  color: #999;
  font-size: 1rem;
  padding-right: 10px;
}

.social-icons {
  display: inline-block;
  word-spacing: 6px;
}

.social-icons_size-git,
.social-icons_size-vk,
.social-icons_size-tw,
.social-icons_size-mail,
.social-icons_size-in,
.social-icons_size-youtube-play,
.social-icons_size {
  display: inline-block;
  cursor: pointer;
  width: 2rem;
  height: 2rem;
  position: relative;
  top: -4px;
}
.social-icons_size-youtube-play {
  background-image: url(../../assets/images/icon/ytb.png);
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
}

.social-icons_size-in {
  background-image: url(../../assets/images/icon/in.png);
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
}
.social-icons_size-mail {
  background-image: url(../../assets/images/icon/mail.png);
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;;
}
.social-icons_size-tw {
  background-image: url(../../assets/images/icon/tw.png);
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
}
.social-icons_size-vk {
  background-image: url(../../assets/images/icon/vk.png);
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
}
.social-icons_size-git {
  background-image: url(../../assets/images/icon/git.png);
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
}

.social-icons_size-youtube-play:hover,
.social-icons_size-in:hover,
.social-icons_size-mail:hover,
.social-icons_size-tw:hover,
.social-icons_size-vk:hover,
.social-icons_size-git:hover {
  opacity: 0.7;
}

.social-icons a {
  display: inline-block;
  vertical-align: middle;
  width: 2rem;
  height: 2rem;
}
@media (max-width: 30em) {
  .social-icons {
    float: left;
    padding-top: 0px;
  }
  .menu-content {
    margin-bottom: 5px;
  }
}

/*
  Code
*/

pre,
code {
    font-size: 0.8rem;
    border-radius: 3px;
    background-color: #f5f5f5;
    font-family: "Source Code Pro";
}

code {
    padding: 1px 5px;
}

pre {
    padding: 8px 12px;
    overflow-x: auto;

    > code {
        border: 0;
        padding-right: 0;
        padding-left: 0;
    }
}

.highlight .lineno {
  color: #aaa;
  display:inline-block;
  padding: 0 5px;
  border-right:1px solid #ccc;
}

.highlight pre code {
  display: block;
  white-space: pre;
  overflow-x: auto;
  word-wrap: normal;
}
